.App {
  text-align: center;
  /*width: 100%;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Viewer{
  width: 100%;
  /*height: 85vh;*/
    flex: 1;
  background-color: yellowgreen;
    display: flex;
}

.Left, .Right{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TextArea{
  max-width: 100%;
  height: 100%;
}
